html {
    font-size: 100%;
}
body {
    margin: 0;
    background-color: #e4f0df;
}
#Logo {
    height: 160px;
    width: 160px;
    border-radius: 100px;
}
#Logo:hover {
    transform: scale(1.2);
}
#Stripe {
    background-color: #193b1e;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
}
#Social-Links {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    margin-top: 4rem;
    margin-bottom: 0;
}
.Links {
    margin: 0 1rem;
}
.Socials {
    height: 75px;
    width: 75px;
}
.Socials:hover {
    transform: scale(1.2);
}
#Store {
    color: #e4f0df;
    font-size: 2.3rem;
    font-family: figtree, sans-serif;
    text-decoration: none;
}
#Store:hover {
    text-transform: uppercase;
}
#C1 h1 {
    color: #e4f0df;
    letter-spacing: .1rem;
    font-family: 'indie flower', sans-serif;
    margin: 0;
}
#Mission {
    background-image: linear-gradient(75deg,#e4f0df 27%, rgb(25, 59, 30, 1) 100%), url(https://symbiotic.love/images-for-LPgen1/TopBG.webp);
    display: flex;
    justify-content: space-between;
    background-color: #193b1e;
    background-blend-mode: hard-light;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 60vh;
}
#D1 {
    width:22rem;
    padding:16vw 0 5vw 4vw;
}
#D1 h2 {
    margin:0;
    font-family:prata,sans-serif;
    line-height:2rem;color:#193b1e;
    text-shadow:1px 1px 0 #e4f0df;
}
.E1 {
    background-color: #193b1e;
    width: 75vw;
    margin: 5rem auto;
    border-radius: 2rem;
    box-shadow:-25px 25px 30px #000;
    padding-bottom: 1rem;
    line-height: 4rem;
}
#E1 {
    color: #193b1e;
    font-family:prata,sans-serif;
    font-size: 2rem;
    letter-spacing: .1rem;
    width: 100%;
    margin: auto;
    text-align: center;
}
#Charity {
    padding-inline-start: 0;
    padding: 1rem 0;
    width: 20rem;
    margin: auto;
}
.Charity {
    list-style: none;
    padding: 1rem;
    text-align: center;
    margin: 1rem auto;
    background-color: #ce4760;
    border-radius: 1rem;
    box-shadow: -8px 8px 16px #000;
    background-image: url(https://symbiotic.love/images-for-LPgen1/buttonsky.webp);
    background-size: cover;
    width: 13rem;
    background-blend-mode: soft-light;
    text-shadow: 1px 1px 2px #fffceb;
}
.Charity:hover {
    transform: scale(1.2);
}
.Charlist {
    color: #fffceb;
    text-decoration: none;
    font-family:Figtree,sans-serif;
    font-size: 1.25rem;
    letter-spacing: .15rem;
    height: 48px;
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
}
.Shop {
    width: 100%;
    margin: auto;
    padding-top: 3rem;
    font-size: 2rem;
    letter-spacing: .15rem;
    font-family:prata,sans-serif;
    color: #e4f0df;
    text-align: center;
    line-height: 4rem;
    text-shadow: 2px 2px 0 #193b1e;
}
#StoreButton {
    background-color: #ce4760;
    display: block;
    width: 12rem;
    height: 4rem;
    margin: 3rem auto;
    padding: 1rem;
    color: #fffceb;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    box-shadow: -8px 8px 16px #000;
    background-image: url(https://symbiotic.love/images-for-LPgen1/buttonsky.webp);
    background-size: cover;
    background-blend-mode: soft-light;
    font-size: 1.25rem;
    font-family:Figtree,sans-serif;
    letter-spacing: .15rem;
    text-shadow: 1px 1px 2px #fffceb;
}
#StoreButton:hover {
    transform: scale(1.2);
}
Footer {
    height: 21rem;
    width: 100%;
    background-color: #193b1e;
}
#F1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 58%;
}
#Footer ul {
    display: flex;
    padding-inline-start: 0;
    list-style: none;
    justify-content: center;
    padding-top: 2rem;
}
#G1 {
    margin: 0;
    text-align: left;
    font-family:Prata,sans-serif;
    color: #e4f0df;
    line-height: 1.1rem;
    font-size: .75rem;
    padding-left: .5rem;
    width: 25rem;
}
#G2 {
    margin: 0;
    text-align: right;
    font-family:Prata,sans-serif;
    color: #e4f0df;
    line-height: 1.1rem;
    font-size: .75rem;
    padding-right: .5rem;
    width: 25rem;
}
#Div1 {
    background-color: inherit;
    box-shadow: none;
}
#Div2 {
    width: 100%;
    border-radius: revert;
    box-shadow: none;
    background-color: #e4f0df;
}
#Div2 h3 {
    color: #193b1e;
    text-shadow: none;
    width: 80%;
}
#Div3 a {
    text-decoration: none;
    font-size: 2rem;
    padding: .15rem;
    width: 30%;
    margin: auto;
    background-color: #e4f0df;
    display: block;
    text-align: center;
    border-radius: 2rem;
    color: #193b1e;
    font-family:'indie flower',cursive;
    box-shadow: -5px 5px 5px #000;
}
@media only screen and (max-width: 525px) and (Orientation: portrait){
    #Social-Links {
        Display: revert;
    }
    #C1 h1 {
        margin: 9rem 0 0 0;
    }
}
@media only screen and (max-width: 400px) and (orientation: portrait){
    .Charity {
        margin: 1rem;
    }
}
