html {
    font-size: 100%;
}
body {
    margin: 0;
    background-color: #e4f0df;
}
#Logo {
    height: 160px;
    width: 160px;
    border-radius: 100px;
}
#Logo:hover {
    transform: scale(1.2);
}
#Stripe {
    background-color: #193b1e;
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    box-shadow: 0 5px 30px #000;
}
#Social-Links {
    list-style: none;
    display: flex;
    padding-inline-start: 0;
    margin-top: 4rem;
    margin-bottom: 0;
}
.Links {
    margin: 0 1rem;
}
.Socials {
    height: 75px;
    width: 75px;
}
.Socials:hover {
    transform: scale(1.2);
}
#C1 h1 {
    color: #e4f0df;
    letter-spacing: .1rem;
    font-family: 'indie flower', sans-serif;
    margin: 0;
}
#Mission {
    background-image: linear-gradient(75deg,#e4f0df 75%, rgb(25, 59, 30, 1) 100%), url(./images-for-LPgen1/TopBG.webp);
    display: flex;
    background-color: #193b1e;
    background-blend-mode: hard-light;
    background-size: cover;
    background-attachment: fixed;
    width: 100%;
    min-height: 60vh;
    flex-direction: column-reverse;
    justify-content: space-between;
}
#D1 {
    width:22rem;
    padding:13vw 0 5vw 4vw;
}
#D1 h2 {
    margin:0;
    font-family:prata,sans-serif;
    line-height:2rem;color:#193b1e;
    text-shadow:1px 1px 0 #e4f0df;
}
.E1 {
    width: 75vw;
    margin: 0 auto;
    border-radius: 2rem;
    padding-bottom: 1rem;
    line-height: 4rem;
}
#E1 {
    color: #193b1e;
    font-family:prata,sans-serif;
    font-size: 2rem;
    letter-spacing: .1rem;
    width: 100%;
    margin: 2rem auto;
    text-align: center;
}
.E1 p {
    text-align: center;
    font-family:Figtree,sans-serif;
    color: #193b1e;
    letter-spacing: .05rem;
    line-height: 3rem;
    font-size: 1.25rem;
}
#Charity {
    padding: 1rem 0;
}
.Charity {
    list-style: none;
}
.Charity:hover {
    transform: scale(1.2);
}
.Charlist {
    display: flex;
    justify-content: center;
    line-height: 1.5rem;
    flex-direction: column;
    background-color: #ce4760;
    width: 12rem;
    height: 4rem;
    margin: 3rem auto;
    padding: 1rem;
    color: #fffceb;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    box-shadow: -8px 8px 16px #000;
    background-image: url(./images-for-LPgen1/buttonsky.webp);
    background-size: cover;
    background-blend-mode: soft-light;
    font-size: 1.25rem;
    font-family: Figtree,sans-serif;
    letter-spacing: .15rem;
    text-shadow: 1px 1px 2px #fffceb;
}
.Shop {
    width: 100%;
    margin: auto;
    padding-top: 3rem;
    font-size: 2rem;
    letter-spacing: .15rem;
    font-family:prata,sans-serif;
    color: #e4f0df;
    text-align: center;
    line-height: 4rem;
    text-shadow: 2px 2px 0 #193b1e;
}
#StoreButton {
    background-color: #ce4760;
    display: block;
    width: 12rem;
    height: 4rem;
    margin: 3rem auto;
    padding: 1rem;
    color: #fffceb;
    text-decoration: none;
    text-align: center;
    border-radius: 1rem;
    box-shadow: -8px 8px 16px #000;
    background-image: url(./images-for-LPgen1/buttonsky.webp);
    background-size: cover;
    background-blend-mode: soft-light;
    font-size: 1.25rem;
    font-family:Figtree,sans-serif;
    letter-spacing: .15rem;
    text-shadow: 1px 1px 2px #fffceb;
}
#StoreButton:hover {
    transform: scale(1.2);
}
Footer {
    height: 21rem;
    width: 100%;
    background-color: #193b1e;
    box-shadow: 0 -5px 30px #000;
}
#F1 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 58%;
}
#Footer ul {
    display: flex;
    padding-inline-start: 0;
    list-style: none;
    justify-content: center;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
#G1 {
    margin: 0;
    text-align: left;
    font-family:Prata,sans-serif;
    color: #e4f0df;
    line-height: 1.1rem;
    font-size: .75rem;
    padding-left: .5rem;
    width: 25rem;
}
#G2 {
    margin: 0;
    text-align: right;
    font-family:Prata,sans-serif;
    color: #e4f0df;
    line-height: 1.1rem;
    font-size: .75rem;
    padding-right: .5rem;
    width: 25rem;
}
#Div1 {
    background-color: inherit;
    box-shadow: none;
}
#Div2 {
    width: 100%;
    border-radius: revert;
    box-shadow: none;
    background-color: inherit;
}
#Div2 h3 {
    color: #193b1e;
    text-shadow: none;
    width: 80%;
    overflow-wrap: anywhere;
}
#Div2 P {
    width: 80%;
    margin: auto;
    text-align: center;
    font-size: 1.25rem;
    color: #193b1e;
    font-family:Figtree,sans-serif;
    line-height: 3rem;
    font-style: italic;
}
#Div3 a {
    text-decoration: none;
    font-size: 2rem;
    padding: .15rem;
    width: 30%;
    margin: auto;
    display: block;
    text-align: center;
    border-radius: 15px;
    color: #e4f0df;
    font-family: 'Indie Flower',cursive;
    box-shadow: -5px 5px 20px #000;
    background-color: #ce4760;
    background-image: url(./images-for-LPgen1/buttonsky.webp);
    background-size: cover;
    background-blend-mode: soft-light;
}
#Div3 a:hover {
    transform: scale(1.2);
}
#Nav {
    list-style: none;
    display: flex;
    padding-inline: 1rem;
    justify-content: space-around;
    margin-block: .5rem;
}
nav {
    background-color: #193b1e;
    min-height: 210px;
    width: 45vw;
    min-width: 360px;
    border-radius: 0 0 25px;
    display: flex;
    flex-direction: column;
    margin-top: 15rem;
    box-shadow: 5px 5px 20px #000;
}
nav p {
    font-family:'Indie Flower',sans-serif;
    font-size: 2rem;
    margin: .5rem auto;
    color: #e4f0df;
    text-align: center;
}
nav a {
    color: #e4f0df;
    font-family:'Figtree',sans-serif;
    font-size: 1.25rem;
    text-decoration: none;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
nav a:hover {
    color: #ce4760;
    text-transform: uppercase;
}
#Review {
    font-family:Figtree,sans-serif;
    letter-spacing: .05rem;
    min-height: 48px;
    min-width: 48px;
    max-width: 180px;
}
#C2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#C2 a {
    font-size: 2.5rem;
    font-family:Prata,sans-serif;
    color:#e4f0df;
    text-decoration:none;
}
#C2 a:hover {
    transform: scale(1.2);
    color: #ce4760;
}
span {
    display: flex;
    justify-content: space-around;
}
#Hidden {
    display: flex;
    justify-content: center;
}
#Hidden:hover {
    text-transform: uppercase;
}
#Other {
    display: flex;
    justify-content: center;
}
#Other:hover {
    text-transform: uppercase;
}
#TopLink {
    color: #572cb5;
}
#TopLink:visited {
    color: #ce4760;
}
@media only screen and (max-width:525px) and (Orientation:portrait){
    #Social-Links {
        Display: revert;
    }
    #C1 h1 {
        margin: 9rem 0 0 0;
    }
    nav a {
        font-size: 1rem;
    }
    nav {
        margin-top: 18rem;
    }
}
@media only screen and (max-width:819px) and (Orientation:portrait){
    nav {
        margin-top: 18rem;
    }
}
@media only screen and (max-width:636px) and (Orientation:portrait){
    nav {
        margin-top: 21rem;
    }
}
@media only screen and (max-width:400px) and (orientation:portrait){
    .Charity {
        margin: 1rem;
    }
}
@media only screen and (max-width:700px) and (orientation:portrait){
    #Div3 a {
        width: 80%;
        line-height: 2.5rem;
    }
    #Div2 p {
        line-height: 1.5rem;
    }
    .E1 p {
        line-height: 1.5rem;
    }
    #Div2 h3 {
        line-height: 3rem;
    }
    #E1 {
        line-height: 3rem;
    }
    .Shop {
        line-height: 3rem;
    }
}
@media only screen and (max-height:700px){
    #Stripe {
        position: revert;
        box-shadow: none;
    }
    nav {
        margin-top: 0;
        box-shadow: none;
    }
}
@media only screen and (max-width:525px){
    #Stripe {
        position: revert;
        box-shadow: none;
    }
    nav {
        margin-top: 0;
        box-shadow: none;
    }
    #Phone {
        display: flex;
        justify-content: center;
    }
}
@media only screen and (max-width:1300px){
    nav a {
        font-size: 1rem;
        margin: auto 1rem;
        min-height: 48px;
        min-width: 48px;
    }
}
