html {
    font-size: 100%;
}
body {
    margin: 0;
    background-color: #e4f0df;
}
#SLLogo {
    height: 160px;
    width: 160px;
    border-radius: 80px;
    margin: 1rem;
}
#EELogo {
    height: 150px;
    width: 600px;
    margin: 1rem;
}
#Banner {
    display:flex;
    justify-content: space-between;
}
h1 {
    color: #e4f0df;
    text-align: center;
    margin: 0 1rem;
    font-family:'Indie Flower',sans-serif;
    font-size: 4.5rem;
}
h2 {
    display: flex;
    justify-content: center;
    text-align: center;
    color: #e4f0df;
    font-size: 2rem;
    margin: 0 1rem;
    font-family:Figtree,sans-serif;
    padding-bottom: 1rem;
}
header {
    background-color: #193b1e;
}
nav {
    background-color: #193b1e;
    width: 45vw;
    min-width: 360px;
    border-radius: 0 0 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
nav ul {
    list-style: none;
    display: flex;
    padding-inline: 0;
    justify-content: space-around;
}
nav li {
    padding: 0 1rem;
}
nav a {
    color: #e4f0df;
    font-family:Figtree,sans-serif;
    font-size: 1.5rem;
    text-decoration: none;
    height: 48px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
nav a:hover {
    color: #ce4760;
    text-transform: uppercase;
}
nav img {
    height: 20px;
    width: 100px;
}
#CTA {
    background: url(./images-for-LPgen1/Banner.jpg);
    background-size: cover;
    background-color: #ce4760;
    background-blend-mode: screen;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 55vh;
}
#CTA p {
    font-size: 1.35rem;
    font-family:Prata,sans-serif;
    width: 70%;
    margin: 1rem auto 3rem;
    color: #193b1e;
    text-shadow: 1px 1px #e4f0df;
    text-align: center;
    font-style: italic;
}
h3 {
    font-family:Figtree,sans-serif;
    font-size: 2rem;
    width: 80%;
    margin: 1rem auto;
    text-align: center;
    color: #193b1e;
    text-shadow: 1px 1px #e4f0df;
}
h4 {
    width: 80%;
    margin: 3rem auto;
    color: #193b1e;
    font-family:Prata,sans-serif;
    font-size: 2rem;
    text-align: center;
}
#Stats {
    text-align: center;
    width: 70%;
    margin: 1rem auto 3rem;
    font-size: 1.25rem;
    font-family: 'Prata';
    color: #193b1e;
    line-height: 2.5rem;
    font-style: italic;
}
#Mission {
    width: 70%;
    margin: 0 auto 3rem;
    font-size: 1.25rem;
    text-align: center;
    color: #193b1e;
    font-family:Figtree,sans-serif;
    line-height: 2.5rem;
    font-weight: bold;
}
#Thanks {
    width: 60%;
    font-size: 2rem;
    margin: auto;
    text-align: center;
    font-family:'Indie Flower',sans-serif;
    color: #193b1e; 
}
#Promo {
    width: 75%;
    margin: 3rem auto;
    text-align: center;
}
#Promo p {
    color: #193b1e;
    font-size: 1rem;
    font-family:Figtree,sans-serif
}
#Promo a {
    color: #572cb5;
}
#Promo a:visited {
    color: #ce4760;
}
h5 {
    font-size: 1rem;
    color: #193b1e;
    font-family:Prata,sans-serif;
}
footer a {
    color: #e4f0df;
}
footer a:visited {
    color: #ce4760;
}
footer {
    display: flex;
    justify-content: space-between;
    background-color: #193b1e;
}
footer ul {
    list-style: none;
    padding-inline: 0;
}
footer li {
    padding: 1rem 1rem 0;
    margin: 0;
    text-align: center;
}
#Copy {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#Sources {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}
#Sources p {
    text-align: center;
    font-family:Prata,sans-serif;
    color: #e4f0df;
    font-style: italic;
}
#Copy p {
    text-align: right;
    font-family:Prata,sans-serif;
    color: #e4f0df;
    margin: 1rem .25rem;
}
@media only screen and (max-width:1425px){
    h1 {
        font-size: 2.5rem;
    }
}
@media only screen and (max-width:1000px){
    #EELogo {
        height: 75px;
        width: 300px;
    }
    nav a {
        font-size: 1rem;
    }
}
@media only screen and (max-width:675px){
    #Banner {
        display: revert;
    }
    .Phone {
        display: flex;
        justify-content: center;
    }
}
