.skill-bubbles-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.skill-group {
  display: flex;
  justify-content: space-between;
}

.skill-bubble {
  background: linear-gradient(
    45deg,
    var(--dgreen),
    var(--accent),
    var(--pink),
    var(--accent),
    var(--dgreen),
    var(--accent),
    var(--pink),
    var(--accent),
    var(--dgreen),
    var(--accent),
    var(--pink),
    var(--accent)
  );
  animation: gradientAnimation 700s infinite;
  background-size: 3000% 100%;
  color: var(--gray);
  padding: 1%;
  margin: 10px;
  border-radius: 50%;
  cursor: pointer;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-weight: bold;
  transition: all 0.3s ease;
  background-blend-mode: color;
  border: 2px solid var(--gray);
  transform-origin: center center;
  flex-grow: 1 !important;
  max-width: 350px;
  flex: 0 0 calc(32% - 5%);
}

.skill-bubble.expanded {
  border-radius: 15px;
  max-width: initial;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 3% 1%;
  transform-origin: center center;
  background: var(--dgreen);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.skill-bubble.expanded .skill-title {
  margin-bottom: 5%;
  text-shadow: 2px 2px 2px #000;
}

.skill-bubble:hover {
  background-color: var(--lgreen);
}

.skill-bubble:hover .skill-title {
  color: var(--dgreen);
}

.skill-bubble.expanded:hover {
  background-color: var(--dgreen);
}

.skill-bubble.expanded:hover .skill-title {
  color: var(--gray);
}

.skill-title {
  display: block;
  font-family: var(--f3);
  font-size: 3rem;
  letter-spacing: 0.35rem;
  margin-bottom: 20%;
  margin: 0;
}

.skill-description {
  font-family: var(--f5);
  font-weight: normal;
  font-size: 1.6rem;
  line-height: 1.7;
  letter-spacing: 0.15rem;
  text-shadow: 2px 2px #000;
  opacity: 0;
  transition: opacity 2s ease;
}

.inner-div:first-child {
  height: 35%;
}
.inner-div:last-child {
  height: 65%;
}

@media only screen and (max-width: 1067px) {
  .skill-bubbles-container {
    flex-direction: column;
  }

  .skill-bubble {
    max-width: 350px;
    border-radius: 50%;
  }

  .skill-bubble.expanded {
    width: 50%;
  }
}