.about-header {
  justify-content: center;
  padding: 0.5%;
  position: relative;
  min-height: 20vh;
}

.about-header h2 {
  font-family: var(--f5);
  text-align: center;
  font-size: 1.5rem;
  letter-spacing: 0.15rem;
  width: 50%;
  line-height: 1.75;
}
